*{
  border:none;
  padding:0;
  margin:0;
}

body{
  background:url('/assets/sp/bg.jpg');
}

#tabs a img{
  width:25%;
}

#help, #setting, #messages{
  display:none;
}

input{
  border:none;
  background:#ccc;
}
