*{
  border:none;
  padding:0;
  margin:0;
}

body{
  background:url('/assets/sp/bg.jpg');
}

#tabs a img{
  width:25%;
}

#help, #setting, #friends{
  display:none;
}

#setting{
  #cha_1{
    float:left;
    img{
      width:300px;
    }
  }
  #cha_2{
    float:right;
    img{
      width:300px;
    }
  }

}


input{
  border:none;
  background:#ccc;
}
